services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    volumes:
      - ./backend/app/data:/app/data
      - ./assets:/app/assets:ro
    ports:
      - "8000:8000"
  frontend:
    image: node:20
    working_dir: /frontend
    volumes:
      - ./frontend:/frontend
    command: sh -c "npm install && npm run dev"
    environment:
      - NEXT_TELEMETRY_DISABLED=1
    ports:
      - "3000:3000"
    depends_on:
      - backend
